
/.vs
/Assignment1/.vs
/Assignment1/x64
*.zip
*.pdb
*.obj
*.tlog
/Assignment2/.vs
*.log
*.recipe
/Assignment2/x64
/Assignment2/Debug
/Assignment2/Release
/CS260_Assignment3/.vs
/CS260_Assignment3/x64
/Assignment3/.vs
/CS260_Assignment4/.vs
/CS260_Assignment4/x64
/CS260_Assignment4/CS260_Assignment4_Client/x64
